<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user by Id</title>
</head>
<body>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<a th:href="@{/users/user/edit(id=${user.getId()})}">Edit</a>

<br/>

<form th:method="POST" th:action="@{/users/user/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>